<ul class="nav nav-tabs">
	<%= content_tag :li, class: active(action: :index) do -%>
		<%= link_to ais_application_comments_path do -%>
		   <span class="glyphicon glyphicon-list"></span> List
		<% end -%>
	<% end -%>
	<%= content_tag :li, class: active(action: :show) do -%>
		<%= link_to @ais_application_comment do -%>
		   <span class="glyphicon glyphicon-info-sign"></span> Details
		<% end -%>
	<% end -%>
	<%= content_tag :li, class: active(action: :edit) do -%>
		<%= link_to edit_ais_application_comment_path(@ais_application_comment) do -%>
		   <span class="glyphicon glyphicon-pencil"></span> Edit
		<% end -%>
	<% end -%>
</ul>
