<div class="well">
	<%= form_tag import_ais_application_comments_path, multipart: true, role: "form", class: "form-inline" do %>
		<div class="form-group">
			<%= file_field_tag :file %>
		</div>
	  <button type="submit" class="btn btn-default" name="commit">Import</button>
	<% end %>
</div>

<div class="panel panel-default panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">AIS Application Comments</h3>
	</div>
	<table class="table table-condensed table-striped table-hover">
		<thead>
		  <tr>
		    <th>PIDM</th>
		    <th>Term</th>
		    <th>Application No.</th>
		    <th>Originator</th>
		    <th>Comment</th>
		  </tr>
		</thead>

		<tbody>
			<% @ais_application_comments.each do |ais_application_comment| %>
			  <tr>
			    <td><%= ais_application_comment.banner_pidm %></td>
			    <td><%= ais_application_comment.application_term %></td>
			    <td><%= ais_application_comment.application_number %></td>
			    <td><%= ais_application_comment.originator %></td>
			    <td><%= ais_application_comment.comment.truncate(100) %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
	<div class="panel-footer">
		<%= paginate @ais_application_comments %>
	</div>
</div>
