<div class="page-header">
  <h2>AIS Application Comments</h2>
</div>

<%= render 'list_navigation' %>

<table class="table table-condensed table-striped table-hover">
	<thead>
	  <tr>
	    <th>PIDM</th>
	    <th>Term</th>
	    <th>Application No.</th>
	    <th>Originator</th>
	    <th>Comment</th>
			<th class="shrink"></th>
			<th class="shrink"></th>
			<th class="shrink"></th>
	  </tr>
	</thead>

	<tbody>
		<% @ais_application_comments.each do |ais_application_comment| %>
		  <tr>
		    <td><%= ais_application_comment.banner_pidm %></td>
		    <td><%= ais_application_comment.application_term %></td>
		    <td><%= ais_application_comment.application_number %></td>
		    <td><%= ais_application_comment.originator %></td>
		    <td><%= ais_application_comment.comment.truncate(100) if ais_application_comment.comment %></td>
				<td><%= link_to ais_application_comment do %><span class="glyphicon glyphicon-info-sign"></span><% end %></td>
				<td><%= link_to edit_ais_application_comment_path(ais_application_comment) do %><span class="glyphicon glyphicon-pencil"></span><% end %></td>
				<td><%= link_to ais_application_comment, method: :delete, data: { confirm: 'Are you sure?' } do %>
					<span class="glyphicon glyphicon-remove"></span>
				<% end %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<div class="panel panel-default">
  <div class="panel-body">
    <%= paginate @ais_application_comments %>
  </div>
</div>
