<div class="page-header">
  <h2>AIS Application Comment</h2>
</div>

<%= render 'record_navigation' %>

<dl class="dl-horizontal">
  <dt>PIDM</dt>
  <dd><%= @ais_application_comment.banner_pidm %></dd>
  <dt>Term</dt>
  <dd><%= @ais_application_comment.application_term %></dd>
  <dt>Application No.</dt>
  <dd><%= @ais_application_comment.application_number %></dd>
  <dt>Originator</dt>
  <dd><%= @ais_application_comment.originator %></dd>
  <dt>Comment</dt>
  <dd><%= @ais_application_comment.comment %></dd>
</dl>
