<p id="notice"><%= notice %></p>

<p>
  <b>Banner pidm:</b>
  <%= @ais_application_comment.banner_pidm %>
</p>

<p>
  <b>Application term:</b>
  <%= @ais_application_comment.application_term %>
</p>

<p>
  <b>Application number:</b>
  <%= @ais_application_comment.application_number %>
</p>

<p>
  <b>Originator:</b>
  <%= @ais_application_comment.originator %>
</p>

<p>
  <b>Comment:</b>
  <%= @ais_application_comment.comment %>
</p>


<%= link_to 'Edit', edit_ais_application_comment_path(@ais_application_comment) %> |
<%= link_to 'Back', ais_application_comments_path %>
