<p id="notice"><%= notice %></p>

<p>
  <b>Banner pidm:</b>
  <%= @ais_checklist.banner_pidm %>
</p>

<p>
  <b>Application term:</b>
  <%= @ais_checklist.application_term %>
</p>

<p>
  <b>Application number:</b>
  <%= @ais_checklist.application_number %>
</p>

<p>
  <b>Requirement code:</b>
  <%= @ais_checklist.requirement_code %>
</p>

<p>
  <b>Received date:</b>
  <%= @ais_checklist.received_date %>
</p>

<p>
  <b>Item:</b>
  <%= @ais_checklist.item %>
</p>

<p>
  <b>Item description:</b>
  <%= @ais_checklist.item_description %>
</p>

<p>
  <b>Ckst code:</b>
  <%= @ais_checklist.ckst_code %>
</p>

<p>
  <b>Mandatory:</b>
  <%= @ais_checklist.mandatory %>
</p>


<%= link_to 'Edit', edit_ais_checklist_path(@ais_checklist) %> |
<%= link_to 'Back', ais_checklists_path %>
