<div class="page-header">
  <h2>Delete AIS Term</h2>
</div>

<ul class="nav nav-tabs">
	<%= nav_tab_link_to ais_terms_path, "List", "glyphicon-list" %>
	<%= nav_tab_link_to new_ais_term_path, "Add New", "glyphicon-plus" %>
	<%= nav_tab_link_to @ais_term, "Details", "glyphicon-info-sign" %>
	<%= nav_tab_link_to edit_ais_term_path(@ais_term), "Edit", "glyphicon-pencil" %>
	<%= nav_tab_link_to delete_ais_term_path(@ais_term), "Delete", "glyphicon-remove", class: "active" %>
</ul>

<div class="panel panel-default panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Warning, you are about to delete the following record.</h3>
  </div>
  <div class="panel-body">
		<%= render 'details' %>
	  <div class="row">
			<div class="col-sm-offset-2 col-sm-10">
				<%= link_to @ais_term, class: "btn btn-danger", method: :delete do -%>
				<span class="glyphicon glyphicon-remove"></span> Delete
				<% end -%>
				<%= link_to "Cancel", :back, class: "btn btn-default" %>
			</div>
	  </div>
	</div>
</div>
