<ul class="nav nav-tabs">
	
	<%= content_tag :li, class: active(action: :index) do -%>
		<%= link_to ais_attributes_path do -%>
		   <span class="glyphicon glyphicon-list"></span> List
		<% end -%>
	<% end -%>
	
	<%= content_tag :li, class: active(action: :new) do -%>
		<%= link_to new_ais_attribute_path do -%>
		   <span class="glyphicon glyphicon-plus"></span> Add New
		<% end -%>
	<% end -%>
	
	<%= content_tag :li, class: active(action: :show_import) do -%>
		<%= link_to show_import_ais_attributes_path do -%>
		   <span class="glyphicon glyphicon-import"></span> Import
		<% end -%>
	<% end -%>
	
</ul>
