<div class="page-header">
  <h2>Update AIS Attribute</h2>
</div>

<ul class="nav nav-tabs">
	<%= nav_tab_link_to ais_attributes_path, "List", "glyphicon-list" %>
	<%= nav_tab_link_to new_ais_attribute_path, "Add New", "glyphicon-plus" %>
	<%= nav_tab_link_to @ais_attribute, "Details", "glyphicon-info-sign" %>
	<%= nav_tab_link_to edit_ais_attribute_path(@ais_attribute), "Edit", "glyphicon-pencil", class: "active" %>
	<%= nav_tab_link_to are_you_sure_ais_attribute_path(@ais_attribute), "Delete", "glyphicon-remove" %>
	<%= nav_tab_link_to show_import_ais_attributes_path, "Import", "glyphicon-import" %>
</ul>

<%= render 'form' %>
