<div class="page-header">
  <h2>AIS Attributes</h2>
</div>

<ul class="nav nav-tabs">
	<li class="active">
		<%= link_to ais_attributes_path do -%>
		   <span class="glyphicon glyphicon-list"></span> List
		<% end -%>
	</li>
	<li>
		<%= link_to new_ais_attribute_path do -%>
		   <span class="glyphicon glyphicon-plus"></span> Add New
		<% end -%>
	</li>
	<li>
		<%= link_to show_import_ais_attributes_path do -%>
		   <span class="glyphicon glyphicon-import"></span> Import
		<% end -%>
	</li>
</ul>


<table class="table table-condensed table-striped table-hover">
	<thead>
	  <tr>
	    <th>PIDM</th>
	    <th>Term</th>
	    <th>Application No.</th>
	    <th>Attribute</th>
			
			<th class="shrink"></th>
			<th class="shrink"></th>
			<th class="shrink"></th>
	  </tr>
	</thead>
	
	<tbody>
		<% @ais_attributes.each do |ais_attribute| %>
	  <tr>
	    <td><%= ais_attribute.banner_pidm %></td>
	    <td><%= ais_attribute.application_term %></td>
	    <td><%= ais_attribute.application_number %></td>
	    <td><%= ais_attribute.name %></td>
			
			<td>
				<%= link_to ais_attribute do -%>
				<span class="glyphicon glyphicon-info-sign"></span>
				<% end -%>
			</td>
			<td>
				<%= link_to edit_ais_attribute_path(ais_attribute) do -%>
				<span class="glyphicon glyphicon-pencil"></span>
				<% end -%>
			</td>
			<td>
				<%= link_to are_you_sure_ais_attribute_path(ais_attribute) do -%>
				<span class="glyphicon glyphicon-remove"></span>
				<% end -%>
			</td>
	  </tr>
		<% end %>
	</tbody>
</table>
	
<div class="panel panel-default">
	<div class="panel-footer">
		<%= paginate @ais_attributes %>
	</div>
</div>
