<div class="page-header">
  <h2>Import AIS Attributes</h2>
</div>

<ul class="nav nav-tabs">
	<%= nav_tab_link_to ais_checklists_path, "List", "glyphicon-list" %>
	<%= nav_tab_link_to new_ais_checklist_path, "Add New", "glyphicon-plus" %>
	<%= nav_tab_link_to "#", "Details", "glyphicon-info-sign", class: "disabled" %>
	<%= nav_tab_link_to "#", "Edit", "glyphicon-pencil", class: "disabled" %>
	<%= nav_tab_link_to "#", "Delete", "glyphicon-remove", class: "disabled" %>
	<%= nav_tab_link_to show_import_ais_checklists_path, "Import", "glyphicon-import", class: "active" %>
</ul>

<div class="panel panel-default panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Warning! This will delete all records before importing.</h3>
  </div>
  <div class="panel-body">
		<%= form_tag import_ais_attributes_path, multipart: true, role: "form", class: "form-inline" do %>
			<div class="form-group">
				<%= file_field_tag :file %>
			</div>
			<button type="submit" class="btn btn-danger" name="commit"><span class="glyphicon glyphicon-import"></span> Import</button>
		<% end %>
	</div>
</div>
